<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/landing.css">
    <title>IGA Books</title>
</head>
<body>
    <div id="titleCard">
        Great Books, Even Greater Imagery
    </div>
    <div id="booksContainer">
        <a href="Harry Potter">
        <div id="book">
            <img src="../static/bookIcon.jpg">
            <div id="bookTitle" href="Harry Potter">Harry Potter</div>
        </div>
        </a>

        <a href="1984">
        <div id="book">
            <img src="../static/bookIcon.jpg">
            <div id="bookTitle" href="1984">1984</div>
        </div>
        </a>

        <a href="Sherlock Holmes">
        <div id="book">
            <img src="../static/bookIcon.jpg">
            <div id="bookTitle" href="Sherlock Holmes">Adventures of Sherlock Holmes</div>
        </div>
        </a>

        <a href="">
        <div id="book">
            <img src="../static/bookIcon.jpg">
            <div id="bookTitle">Soham Autobiography</div>
        </div>
        </a>

        <a href="">
        <div id="book">
            <img src="../static/bookIcon.jpg">
            <div id="bookTitle">Lucian Autobiography</div>
        </div>
        </a>

    </div>
</body>
</html>
