<!DOCTYPE html>
<html>
  
<head>
    <title>BookFace</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
  
<body>
    <center>
        <div id="titleCard">
            <h3 id="title">Harry Potter</h3>
            <div id="pageNum">Page : {{pageNumber}}</div>
        </div>
        <div id="pageText"> {{ pageText }} </div>

        <div id="imageDiv">
            <a id="prevPage" href="previous">
                Previous Page
            </a>
            <img id="dalleImage" src="{{ dalleImage }}">
            <a id="nextPage" href="next">
                Next Page
            </a>
        </div>

    </center>
    <script>
        window.onload = function() {
            document.getElementById("genImageLink").click();
        };
      </script>  
</body>
  
</html>